/* @import 'variables'; */

*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
header {
    height: 100px;
    width: 100%;
    background-color: #F55050;
}

/* 
//  ██████  ██████   ██████  ███████ ██ ██      ███████ 
//  ██   ██ ██   ██ ██    ██ ██      ██ ██      ██      
//  ██████  ██████  ██    ██ █████   ██ ██      █████   
//  ██      ██   ██ ██    ██ ██      ██ ██      ██      
//  ██      ██   ██  ██████  ██      ██ ███████ ███████  
*/                                                                                             
.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
    gap: 20px;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 550px;
    background-color: #F55050;
    gap: 5px;
    border-radius: 10px;
}
.userImg {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 225px;
    height: 225px;
    background-color: bisque;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
}
.userImg img {
    height: 100%;
}
.userName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    height: 40px;
    width: 100%;
}

.followUser {
    all: unset;
    width: 70px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.userDescription {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
}
.followers, .following, .numImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 30%;
    height: 45px;
    border-radius: 10px;
}

.gallerySect {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 300px);
}
.gallery {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 1450px;
    margin: 15px;
    gap: 15px;
}

.card {
    background: transparent;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 300px;
}
img.landscape {
    height: 100%; 
    max-width: auto;
}
img.portrait {
    max-height: auto;
    width:100%; 
}
.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(196, 195, 195);
    border-radius: 10px;
    height: 100%;
}

.cardContent .tags {
    display: flex;
    align-items: center;
    position: absolute;
    overflow-x: hidden;
    background-color: grey;
    height: 30px;
    width: 100%;
    bottom: 0;
    visibility: hidden;
}

.card:hover .tags {
    visibility:visible;
}

.tags ul {
    display: flex;
    list-style: none;
    gap: 5px;
    width:250px;
    float:left;
    font-size:15px;
    font-family:arial;
    padding:0 5px;
}

a:visited {
    color: white;
}
.tags ul a:visited,
.tags ul a:link,
.tags ul a:hover,
.tags ul a:active{
    text-decoration: none;
    color: white;
}
.tags ul a{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 3px 10px;
    text-decoration: none;
}

.card .ionic {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 1%;
    right: 1%;
    gap: 10px;
    transform: scale(0);
    cursor: pointer;
}

.card:hover > .ionic {
    transform: scale(1);
}
.card .ionic ion-icon {
    color: #F55050;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(0, 0, 0,.5);
}

footer {
    width: 100%;
    height: 200px;
    background-color: #F55050;
    margin-top: 30px;
}


/* 
//   ██████   █████  ██      ██      ███████ ██████  ██    ██ 
//  ██       ██   ██ ██      ██      ██      ██   ██  ██  ██  
//  ██   ███ ███████ ██      ██      █████   ██████    ████   
//  ██    ██ ██   ██ ██      ██      ██      ██   ██    ██    
//   ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██    
*/
/* search section */
/* search section */
.search {
    display: flex;
    height: 150px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 50px;
    /* background-color: rgba(0, 0, 0, .2); */
}

/* matched items + sort items */
 .matches, .sortItems {
    width: 30%;
}
.matches {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.sortItems {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
/* search input */
.searchBar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    position: relative;

}
.searchBar form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
}

/* search input styling */
.searchBar form input {
    all: unset;
    width: 100%;
    height: 50px;
    margin-left: 104px;
    margin-right: 40px;
    background-color: rgba(0, 0, 0, .2);
    /* border-radius: 20px; */
    padding-left: 10px;
    padding-right: 35px;
}
/* place search button on top of search input */
.searchBar form button {
    all: unset;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    position: absolute;
    right: 0;
    height: 50px;
    width: 40px;
    /* border-left: 2px solid grey; */
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}
/* searchbar outline while active */
/* form input:focus-within { 
    : 2px solid #F55050; 
} */

.searchBar form button ion-icon{
    background: none;
    font-size: 24px;
    padding-left: 7px;
    padding-top: 7px;
}

.searchBar select {
    position: absolute;
    left: 20px;
    height: 50px;
    border: none;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    font-size:15px;
    text-align: left;
    background-color: rgba(0, 0, 0, .2);
    /* border-right: 2px solid grey; */
}

.searchBar select option:active,
.searchBar select option:focus,
.searchBar select:checked {
    border: 2px solid #F55050;
}

.searchBar select option:checked{
    text-align: center;
}

.searchBar select option {
    background-color: white;
}

/* 
███    ███  ██████  ██████   █████  ██      
████  ████ ██    ██ ██   ██ ██   ██ ██      
██ ████ ██ ██    ██ ██   ██ ███████ ██      
██  ██  ██ ██    ██ ██   ██ ██   ██ ██      
██      ██  ██████  ██████  ██   ██ ███████  
*/

.imgZoom {
    display: none;
}
.imgZoom.active{
    display: flex;
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    height: 80vh;
    background-color: rgb(155, 155, 155);
}

.imgZoom .modalImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    width: 75%;
    height: 100%;
}
.imgZoom .modalImage img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.imgZoom .modalDesc {
    width: 25%;
    height: 100%;
    background-color: rgb(214, 214, 214);
}

.imgZoom .closeModal {
    height: 40px;
}
.imgZoom .closeModal button{
    all: unset;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 40px;
    right: 0;
    top: 0;
    cursor: pointer;
}

.imgZoom .userDesc {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 5%;
}
.imgZoom .modalDesc .profileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.imgZoom .imgDesc {
    display: flex;
    flex-direction: column;
    margin: 30px 5%;
    gap: 10px;
}
.imgZoom .userDesc button {
    all: unset;
    background-color: #F55050;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}
.overlay {
    display: none;
}
.overlay.active {
    display: block;
    z-index: 450;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}


/*
 █████   ██████  ██████ 
██   ██ ██      ██      
███████ ██      ██      
██   ██ ██      ██      
██   ██  ██████  ██████ 
*/

.connectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-image: url("../divers/img/test5.jpg");
    background-size: cover;
}
.connectWrapper .previousPage{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    color: #F55050;
}
.connectWrapper .previousPage button {
    all: unset;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
}
.connectWrapper .previousPage button:hover {
    color: white;
}
.connectWrapper .previousPage button ion-icon{
    font-size: 3rem;
}
.connectWrapper .loginError {
    position: absolute;
    bottom: 15%;
    color: white;
}
.logIn, .signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 400px;
    backdrop-filter: blur(100px);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    color: white;
}
.logIn h1, .signUp h1 {
    position: absolute;
    top: 5%;
}
.logIn form, .signUp form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logIn form input::placeholder, .signUp form input::placeholder{ 
    color: rgb(255, 255, 255);
    opacity: .7; /* Firefox */
  }
.logIn form button, .signUp form button {
    all: unset;
    background-color: #F55050;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.logIn form button:focus, .logIn form button:hover,
.signUp form button:focus, .signUp form button:hover {
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.8);
}
.logIn form input, .signUp form input {
    all: unset;
    border-bottom: 2px solid #F55050;
    margin-bottom: 20px;
    padding: 2px 10px;
    caret-color: white;
}
.logIn form input:not(:placeholder-shown), 
.signUp form input:not(:placeholder-shown){
    border-bottom: 2px solid rgb(255, 255, 255);
}
/* if input is active, has text or doesn't have placeholder */
.logIn:has(form input:active,form input:focus,input:not(:placeholder-shown)),
.signUp:has(form input:active,form input:focus,input:not(:placeholder-shown)) {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
}


/* .logIn:has(form input:active,form input:focus,input:not(:placeholder-shown)) * button{
    background-color: rgb(0, 204, 255);
} */


.logIn form input:focus, .signUp form input:focus {
    border-bottom: 2px solid #ffffff;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: border-box !important;
    color: white !important;
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: #fff !important;
}


/*
 ██    ██ ███████ ███████ ██████       █████   ██████  ██████ 
██    ██ ██      ██      ██   ██     ██   ██ ██      ██      
██    ██ ███████ █████   ██████      ███████ ██      ██      
██    ██      ██ ██      ██   ██     ██   ██ ██      ██      
 ██████  ███████ ███████ ██   ██     ██   ██  ██████  ██████ 
*/
.profileWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
}
.profileContainer {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
}
.profileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    overflow: hidden;
}
.profileImg img {
    position: absolute;
    z-index: 5;
}
.editImage {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    z-index: 10;
    color: white;
    font-size: 2rem;
    transition: 100ms linear;
}
.editImage ion-icon{
    font-size: 5rem;
}
.editImage ion-icon,
.editImage p {
    transform: scale(0);
    transition: 50ms linear;
}

.editImage:hover {
    backdrop-filter: blur(1px);
    transition: 100ms linear;
    cursor: pointer;
}

.editImage:hover > ion-icon,
.editImage:hover > p {
    transform: scale(1);
}
.userInfo {
    height: 100%;
    width: 400px;
}

.userAcc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    display: none;
    backdrop-filter: none;
}
.userAcc span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: white;
    z-index: 1000;
}
.userAcc.active {
    display: flex;
    z-index: 1001;
}

/*
███    ███  ██████  ██████   █████  ██      
████  ████ ██    ██ ██   ██ ██   ██ ██      
██ ████ ██ ██    ██ ██   ██ ███████ ██      
██  ██  ██ ██    ██ ██   ██ ██   ██ ██      
██      ██  ██████  ██████  ██   ██ ███████ 
 */

.modal.account {
    position: fixed;
    left: 50%;
    top: 50%;
    transform:   scale(0);
    transition: 100ms linear;
    z-index: 1000;
    background-color: rgb(224, 224, 224);
    width: 500px;
    height: 300px;
    color: white;
    font-size: 48px;
}
.modal.account.active{
    transform: translate(-50%,-50%) scale(1);
}

.modal-header .close-button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    outline:none;
    background: none;
    font-weight: bold;
    font-size: 64px;
    color: white;
}
#overlay {
    z-index: 999;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
                                