*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
header {
    height: 100px;
    width: 100%;
    background-color: #F55050;
}

/* 
//  ██████  ██████   ██████  ███████ ██ ██      ███████ 
//  ██   ██ ██   ██ ██    ██ ██      ██ ██      ██      
//  ██████  ██████  ██    ██ █████   ██ ██      █████   
//  ██      ██   ██ ██    ██ ██      ██ ██      ██      
//  ██      ██   ██  ██████  ██      ██ ███████ ███████  
*/                                                                                             
.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
    gap: 20px;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 550px;
    background-color: #F55050;
    gap: 5px;
    border-radius: 10px;
}
.userImg {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 225px;
    height: 225px;
    background-color: bisque;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
}
.userImg img {
    height: 100%;
}
.userName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    height: 40px;
    width: 100%;
}

.followUser {
    all: unset;
    width: 70px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.userDescription {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
}
.followers, .following, .numImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 30%;
    height: 45px;
    border-radius: 10px;
}

.gallerySect {
    display: flex;
    justify-content: center;
    width: 100%;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 1450px;
    margin: 15px;
    gap: 15px;
}

.card {
    background: transparent;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 300px;
}
img.landscape {
    max-height: 100%; 
    max-width: auto;
}
img.portrait {
    max-height: auto;
    max-width:100%; 
}
.cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(196, 195, 195);
    border-radius: 10px;
    height: 100%;
}

.cardContent .tags {
    display: flex;
    align-items: center;
    position: absolute;
    overflow-x: hidden;
    background-color: grey;
    height: 30px;
    width: 100%;
    bottom: 0;
    visibility: hidden;
}

.card:hover .tags {
    visibility:visible;
}

.tags ul {
    display: flex;
    list-style: none;
    gap: 5px;
    width:250px;
    float:left;
    font-size:15px;
    font-family:arial;
    padding:0 5px;
}

a:visited {
    color: white;
}
.tags ul a{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 3px 10px;
    text-decoration: none;
}

.card .ionic {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 1%;
    right: 1%;
    gap: 10px;
    transform: scale(0);
    cursor: pointer;
}

.card:hover > .ionic {
    transform: scale(1);
}
.card .ionic ion-icon {
    color: #F55050;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(0, 0, 0,.5);
}

footer {
    width: 100%;
    height: 200px;
    background-color: #F55050;
    margin-top: 30px;
}


/* 
//   ██████   █████  ██      ██      ███████ ██████  ██    ██ 
//  ██       ██   ██ ██      ██      ██      ██   ██  ██  ██  
//  ██   ███ ███████ ██      ██      █████   ██████    ████   
//  ██    ██ ██   ██ ██      ██      ██      ██   ██    ██    
//   ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██    
*/
/* search section */
.search {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    padding-top: 20px;
    /* background-color: rgba(0, 0, 0, .2); */
}

/* matched items + sort items */
.search .matches, .sortItems {
    display: flex;
    align-items: flex-end;
    margin: 15px 15%;
}
/* search input */
.searchBar form {
    display: flex;
    align-items: flex-start;
    margin-left: 35px;
}

/* search input styling */
.searchBar form input {
    all: unset;
    width: 250px;
    height: 40px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 35px;
}
/* place search button on top of search input */
.searchBar form button {
    all: unset;
    border-radius: 15px;
    transform: translate(-35px,2px);
}
/* searchbar outline while active */
form input:focus-within { 
    outline: 2px solid #F55050; 
}

.searchBar form button ion-icon{
    background: none;
    font-size: 24px;
}

/* 
███    ███  ██████  ██████   █████  ██      
████  ████ ██    ██ ██   ██ ██   ██ ██      
██ ████ ██ ██    ██ ██   ██ ███████ ██      
██  ██  ██ ██    ██ ██   ██ ██   ██ ██      
██      ██  ██████  ██████  ██   ██ ███████  
*/

.imgZoom {
    display: none;
}
.imgZoom.active{
    display: flex;
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    height: 80vh;
    background-color: rgb(155, 155, 155);
}

.imgZoom .modalImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    width: 75%;
    height: 100%;
}
.imgZoom .modalImage img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.imgZoom .modalDesc {
    width: 25%;
    height: 100%;
    background-color: rgb(214, 214, 214);
}

.imgZoom .closeModal {
    height: 40px;
}
.imgZoom .closeModal button{
    all: unset;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 40px;
    right: 0;
    top: 0;
    cursor: pointer;
}

.imgZoom .userDesc {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 5%;
}
.imgZoom .modalDesc .profileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.imgZoom .imgDesc {
    display: flex;
    flex-direction: column;
    margin: 30px 5%;
    gap: 10px;
}
.imgZoom .userDesc button {
    all: unset;
    background-color: #F55050;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}
.overlay {
    display: none;
}
.overlay.active {
    display: block;
    z-index: 450;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

/*
 ██    ██ ███████ ███████ ██████       █████   ██████  ██████ 
██    ██ ██      ██      ██   ██     ██   ██ ██      ██      
██    ██ ███████ █████   ██████      ███████ ██      ██      
██    ██      ██ ██      ██   ██     ██   ██ ██      ██      
 ██████  ███████ ███████ ██   ██     ██   ██  ██████  ██████ 
*/

.accHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: grey;
    padding-inline: 5%;

}
.accHeader .previousPage {
    display: flex;
    align-items: center;
    width: 200px;
}
.accHeader .previousPage:hover {
    color: #F55050;
}
.accHeader .previousPage button {
    all: unset;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.accHeader .previousPage button ion-icon {
    font-size: 40px;
}

.accHeader .userAcc {
    display: flex;
    align-items: center;
    gap: 10px;
}
.accHeader .userAcc .accImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.accMain {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: red;
}
.accMain * a {
    text-decoration: none;
}
.accMain * a:hover {
    color: #F55050;
}
.accMain .sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    height: 100%;
    background-color: rgb(199, 199, 199);
}
.accMain .sideNav ul{
    list-style: none;
}
.accMain .sideNav ul li{
    font-size: 1.25rem;
    line-height: 25px;
}
.accMain .sideNav a.logOut {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.25rem;
    margin-bottom: 10%;
}
.accMain .sideNav a.logOut ion-icon {
    font-size: 2rem;
}
.accMain .page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 85vw;
    height: 100%;
    background-color: aqua;
    margin-inline: auto;
}

.accMain .page .box {
    width: 200px;
    height: 200px;
    background-color: red;
}

/*
 █████   ██████  ██████ 
██   ██ ██      ██      
███████ ██      ██      
██   ██ ██      ██      
██   ██  ██████  ██████ 
*/

.connectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-image: url("../divers/img/test5.jpg");
    background-size: cover;
}
.connectWrapper .previousPage{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    color: #F55050;
}
.connectWrapper .previousPage button {
    all: unset;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
}
.connectWrapper .previousPage button:hover {
    color: yellow;
}
.connectWrapper .previousPage button ion-icon{
    font-size: 3rem;
}

.logIn, .signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 400px;
    /*backdrop-filter: blur(100px);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    color: white;
}
.logIn h1, .signUp h1 {
    position: absolute;
    top: 5%;
}
.logIn form, .signUp form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logIn form input::placeholder, .signUp form input::placeholder{ 
    color: rgb(255, 255, 255);
    opacity: .5; /* Firefox */
  }
.logIn form button, .signUp form button {
    all: unset;
    background-color: #F55050;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
.logIn form input, .signUp form input {
    all: unset;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 2px 10px;
}
.logIn form input:not(:placeholder-shown), 
.signUp form input:not(:placeholder-shown){
    border-bottom: 2px solid yellow;
}

.logIn form input:focus, .signUp form input:focus {
    border-bottom: 2px solid #F55050;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
                        