@import 'variables';

/* 
███    ███  ██████  ██████   █████  ██      
████  ████ ██    ██ ██   ██ ██   ██ ██      
██ ████ ██ ██    ██ ██   ██ ███████ ██      
██  ██  ██ ██    ██ ██   ██ ██   ██ ██      
██      ██  ██████  ██████  ██   ██ ███████  
*/

#imgZoom {
    display: none;
}
#containerZoom {
    display: none;
}
#closeImage {
    display: none;
}

#imageZoom.active {
    position: absolute;
    display: block;
    top:0;
    left:0;
    z-index:1000;
    max-width: 100vw;
    max-height: 100vh;

    #containerZoom {
        position: absolute;
        display: flex;
        z-index: 500;
        top:5vh;     
        left:5vw;
        width: 90vw;
        height: 90vh;
        background-color: rgb(155, 155, 155);
    }

    #closeImage {
        position:absolute;
        display: block;
        cursor: pointer;
        z-index: 600;
        right:55px;
        top:44px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 6px solid black;
        background-color: transparent;

        i {
            color: #000;
            font-size: 1.5rem;
        }
    }
    
    #imageOverlay {
        position: relative;
        display: block;
        z-index: 450;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(1.5px);
        cursor: crosshair;
    }
}

#imageZoom.active #containerZoom {

    .modalImage{
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--zoomImage);
        background-size:contain ;
        background-position: center;
        background-repeat: no-repeat;
        width: 60vw;
        height: 90vh;
    }

    .modalDesc {
        width: 30vw;
        height: 90vh;
        background-color:var(--mainColor0F);
        display:grid;
        grid-template-rows: 0px 10vh 30vh calc(50vh - 30px);
        row-gap: 10px;
    }

    .closeModal {
        height: 0px;
        grid-row:1;

    }

    .closeModal button{
        all: unset;
        display: flex;
        align-items: center;
        position: absolute;
        font-size: 40px;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    .userDesc {
        grid-row:2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin: 10px 5%;

        h2 {
            padding: 50px;
            width:calc(100% - 50px);
        }
    }
    .modalDesc .profileImg {
        min-width: 150px;
        min-height: 150px;
        border-radius: 50%;
        background: var(--zoomImageUser);
        background-size:contain ;
        background-position: center;
        background-repeat: no-repeat;        
        overflow: hidden;
    }

    .imgDesc {
        grid-row:3;
        display: flex;
        flex-direction: column;
        margin: 30px 5%;
        gap: 10px;
    }
    .userDesc button {
        all: unset;
        background-color: #F55050;
        padding: 5px 10px;
        border-radius: 15px;
        cursor: pointer;
    }
    .likes {
        grid-row:4;
        height:100%;
        display: grid;
        cursor: pointer;

        img, span {
            position:absolute;
            align-self: center;
            justify-self: center;
        }
    }
}